[submodule "c/unity-test-framework"]
	path = c/unity-test-framework
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "cpp/catch2-test-framework"]
	path = cpp/catch2-test-framework
	url = https://github.com/catchorg/Catch2.git
[submodule "bash/.bats-test-framework/support"]
	path = bash/.bats-test-framework/support
	url = https://github.com/bats-core/bats-support.git
[submodule "bash/.bats-test-framework/assert"]
	path = bash/.bats-test-framework/assert
	url = https://github.com/bats-core/bats-assert.git
