[submodule "c/unity-test-framework"]
	path = .test-frameworks/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "cpp/catch2-test-framework"]
	path = .test-frameworks/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "bash/.bats-test-framework/support"]
	path = .test-frameworks/bats/support
	url = https://github.com/bats-core/bats-support.git
[submodule "bash/.bats-test-framework/assert"]
	path = .test-frameworks/bats/assert
	url = https://github.com/bats-core/bats-assert.git
